# Путь до папки с датасетами
# Замени YOUR_PATH_HERE на реальный путь, например:
# Windows: DATASETS_GLOBAL_PATH=N:\VKR_Datasets
# Linux/Mac: DATASETS_GLOBAL_PATH=/home/user/datasets
DATASETS_GLOBAL_PATH=YOUR_PATH_HERE
# Для воспроизводимости
CUBLAS_WORKSPACE_CONFIG=:4096:8
